@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #ff608c;
}
nav > img {
  width: 190px;
  padding: 1.25rem 1rem;
}
.section-wrapper > img {
  width: 80%;
  max-width: 420px;
}
.section-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 844px;
  padding-top: 7rem;
}
.issue {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1.125rem;
}
.buy-here {
  margin: 0.2rem;
  font-size: 0.938rem;
  font-weight: 600;
}
.buy-here > a {
  color: white;
  text-decoration: none;
}
.or {
  margin-top: 1rem;
  font-size: 0.938rem;
  font-weight: 600;
}
.or > a {
  color: white;
  text-decoration: none;
}
.buy-here-solo {
  margin: 0 0 1rem;
}
.buy-here-solo > a, .or-solo > a {
  color: #e568ac;
  text-decoration: none;
  font-weight: 600;
}
.or-solo {
  font-size: 0.938rem;
  font-weight: 600;
}
.buy-here-all {
  margin: 0 0 1rem;
  font-size: 0.938rem;
  font-weight: 600;
}
.or-all {
  font-size: 0.938rem;
  font-weight: 600;
}
.buy-here-all > a, .or-all > a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.one {
  background-color: #ff608c;
}
.three {
  background-color:  #00c1b5;
}
.four {
  background-color: #ff651a;
}
.five {
  background-color: #ffbe00;
}
.six {
  background-color: #1d3fbb;
}
.seven {
  background-color: #e30512;
}
.lucky {
  margin: 0 0 0.938rem;
  padding: 0.188rem 0.938rem 0;
  font-weight: 600;
  font-size: 0.938rem;
  text-align: center;
  line-height: 1.5rem;
}
.lucky > a {
  color: white;
  text-decoration: none;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 0 0.938rem;
  line-height: 1.6rem;
}
.copyright {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 25px;
}
.copyright > a {
  color: black;
}
.privacy {
  color: black;
  margin-bottom: 3.125rem;
}
.contact {
  text-align: center;
  padding-bottom: 3.125rem;
}
.contact > a {
  color: black;
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
}
@media only screen and (min-width: 766px) {
  nav > img {
    width: 290px;
  }
  .section-wrapper.first {
    padding-top: 2rem;
  }
  .description {
    width: 30vw;
    text-align: left;
    align-items: first baseline;
  }
  .p-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact {
    display: flex;
    align-items: flex-end;
    padding-bottom: 1.125rem;
    padding-right: 1rem;
  }
  .privacy {
    margin-bottom: 1.125rem;
  }
}
@media only screen and (min-width: 996px) {
  nav > img {
    position: fixed;
    left: 0;
  }
  .p-wrapper {
   position: fixed;
   bottom: 0;
   width: 100vw;
  }
  .contact {
    align-items: flex-start;
    position: relative;
    bottom: 62vh;
    left: 28vw;
  }
  .issues {
    list-style: none;
    margin-right: 0.938rem;
    margin-top: 4rem;
  }
  .issues > li {
    margin-top: 0.5rem;
    font-size: 1.125rem;
  }
  .issues > li > a {
    text-decoration: none;
    color: black;
  }
}